
@{
	ViewBag.Title = "Index";
}

@section postScripts {
	<script>
		$(document)
			.ready(function () {
				$('#submitButton')
					.click(function (event) {
						event.preventDefault();

						//var privateMessage = encodeURIComponent($('#privateMessage').text());
						var privateMessage = $('#privateMessage').text();
						var data = {
							payload: {
								text: privateMessage
							}
						};
						var privateMessageText = JSON.stringify(data);
						privateMessageText = 'payload={"text": "' + privateMessage + '", "username": "somebot"}';
						console.log(privateMessageText);

						var url = 'https://hooks.slack.com/services/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';

						//$.post(url, privateMessageText)
						//	.done(function(data) {
						//		alert('Success!');
						//	})
						//	.fail(function(jqXHR, textStatus, errorThrown) {
						//		alert(textStatus);
						//	});

						$.ajax({
							method: 'POST',
							data: privateMessageText,
							url: url
						})
							.done(function (data) {
								alert('Success!');
							})
							.fail(function (jqXHR, textStatus, errorThrown) {
								alert(textStatus);
							});
					});
			});
	</script>
}

<h2>Send private message to SKIM</h2>

@using (Html.BeginForm())
{
	<textarea id="privateMessage" rows="10" cols="80"></textarea>
	<button id="submitButton">Send Private Message</button>
}





